/^Content-Type:[[:space:]]+.*$/ PREPEND X-Protective-Marking: VER=<%= @epms_version %>,NS=<%= @epms_namespace %>,<%= @epms_header_content %>,ORIGIN=<%= @epms_admin_email %>
if /^Subject:/i
if !/\[(DLM|SEC)=[\w\-]+\]/
/^(.+)/ REPLACE ${1} [<%= @epms_subject_content %>]
endif
endif
