<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system>
    <uselogger>true</uselogger>
    <logdir>/tmp</logdir>
  </system>
  <service>
    <name><%= @svc_name %></name>
    <server>
      <address>0:<%= @svc_port %></address>
      <type><%= @svc_type %></type>
      <webinterface>127.0.0.1:<%= @svc_webinterface_port %></webinterface>
      <dispatchmode>lax-hashed-ip</dispatchmode>
      <verbose>yes</verbose>
      <clienttimeout>120</clienttimeout>
      <backendtimeout>120</backendtimeout>
      <dnscachetimeout>7200</dnscachetimeout>
      <closesocketsfast>yes</closesocketsfast>
      <% if @svc_type == 'http' %>
      <http>
        <addxrversion>off</addxrversion>
        <addxforwardedfor>on</addxforwardedfor>
        <stickyhttp><%= @http_sticky %></stickyhttp>
      </http>
      <% end %>
    </server>
    <% if @svc_type == 'http' and not @backends.empty? %>
      <% @backends.each do |backend| backend.each do |key, val| %>
    <backend>
      <address><%= key %></address>
      <hostmatch><%= val %></hostmatch>
    </backend>
      <% end %>
      <% end %>
    <% else %>
      <% @backends.each do |val| %>
    <backend>
      <address><%= val %></address>
    </backend>
      <% end %>
    <% end %>
  </service>
  <service>
    <!-- Forwarder service to protect the webinterface -->
    <name><%= @svc_name %>-webinterface</name>
    <server>
      <type>http</type>
      <address>0:<%= @svc_webinterface_forwarder_port %></address>
      <acl>
        <allowfrom><%= @svc_webinterface_forwarder_allow %></allowfrom>
      </acl>
    </server>
    <backend>
      <address>localhost:<%= @svc_webinterface_port %></address>
    </backend>
  </service> 
</configuration>

