AddressFamily inet
AllowTCPForwarding no
<% unless @allowed_users.empty? -%>
AllowUsers <%= @allowed_users.join(' ') %>
<% end -%>
Banner /etc/issue.net
ChallengeResponseAuthentication no
Ciphers aes128-ctr,aes192-ctr,aes256-ctr
ClientAliveInterval 0
ClientAliveCountMax 0
GatewayPorts no
GSSAPIAuthentication yes
GSSAPICleanupCredentials yes
HostBasedAuthentication no
IgnoreRhosts yes
<% unless @listen_addresses.empty? -%>
<% @listen_addresses.each do |address| -%>
ListenAddress <%= address %>
<% end -%>
<% end -%>
LogLevel INFO
LoginGraceTime 60
MaxAuthTries 4
Protocol 2
PermitEmptyPasswords no
PermitRootLogin <%= @permit_root_login %>
PermitUserEnvironment no
# Disabled here, added to /etc/pam.d/sshd to show failed logins
PrintLastLog no
Subsystem       sftp    /usr/libexec/openssh/sftp-server
UsePAM yes
UseDNS no
X11Forwarding no
