#
# hosts.allow  This file describes the names of the hosts which are
#    allowed to use the local INET services, as decided
#    by the '/usr/sbin/tcpd' server.
#
ALL:localhost
<% unless @allowed_services.empty? -%>
<% @allowed_services.each_pair do |key, value| -%>
<%= key %>:<%= value %>
<% end -%>
<% end -%>
