<% unless @exposed_services.empty? -%>
<% @exposed_services.keys.sort_by {|k| k.to_i }.each do |key| @exposed_services[key].each do |subkey, value| -%>
-A INPUT -p <%= value %> -m state --state NEW -m <%= value %> --dport <%= subkey %> -j ACCEPT
<% end -%>
<% end -%>
<% end -%>
