tinker panic 0
driftfile /var/lib/ntp/drift
broadcastdelay  0.008
restrict default ignore
restrict 127.0.0.1
<% unless @clients.empty? -%>
<% @clients.each_pair do |network, mask| -%>
restrict <%= network %> mask <%= mask %> nomodify notrap nopeer noquery
<% end -%>
<% end -%>
<% unless @servers.empty? -%>
<% @servers.each do |server| -%>
restrict <%= server %> nomodify notrap nopeer
server <%= server %> iburst
<% end -%>
<% end -%>
server 127.127.1.0
fudge 127.127.1.0 stratum 10
